<div class="grid">
    <div class="col-12" *ngIf="page == 'my-courses'">
        <p-card header="คอร์สของฉัน">
            <div class="grid" *ngIf="!isLoad">
                <div class="col-12" align="right" *ngIf="can_create">
                    <p-button label="สร้างคอร์ส" styleClass="p-button-rounded p-button-success p-button-sm"
                        icon="pi pi-plus" (click)="createCourse()"></p-button>
                </div>

                <div class="col-12" align="center" *ngIf="courseList.length == 0">
                    {{ can_create ? 'ไม่พบคอร์สเรียนที่คุณสร้าง' : 'ไม่พบการสมัครคอร์สของคุณ' }}
                </div>

                <ng-container *ngIf="courseList.length > 0">
                    <div class="col-12 md:col-3" *ngFor="let course of courseList">
                        <!-- Teacher -->
                        <p-card *ngIf="can_create" styleClass="h-full" [header]="course.course_name">
                            <ng-template pTemplate="header">
                                <img alt="Card" onerror="this.src='./assets/cover/null-cover.png'"
                                    [src]="course.image ? api_url + '/public/' + course.image : './assets/cover/null-cover.png'" />
                            </ng-template>
                            <div class="grid">
                                <div class="col-12">
                                    {{ course.course_description | slice:0:50 }}{{ course.course_description.length > 50
                                    ?
                                    '...'
                                    :
                                    '' }}
                                </div>
                                <div class="col-12">
                                    <p-tag icon="pi pi-user" value="ฟรี" *ngIf="!course.course_visibility"></p-tag>
                                    <p-tag icon="pi pi-star-fill" value="มีค่าสมัคร" severity="danger"
                                        *ngIf="course.course_visibility"></p-tag>
                                </div>
                                <div class="col-12" *ngIf="course.course_visibility">
                                    <b>ค่าสมัคร: {{ course.cost | number : '1.2-2' }}
                                        บาท</b>
                                </div>
                                <div class="col-12">
                                    <p-button label="จัดการคอร์สเรียน" styleClass="p-button-success p-button-sm"
                                        (onClick)="onOpenCourse(course)" icon="pi pi-sign-in"></p-button>
                                </div>
                            </div>
                        </p-card>

                        <!-- Student -->
                        <p-card *ngIf="!can_create" styleClass="h-full" [header]="course.course_name"
                            [subheader]="'ผู้สอน: ' + course.users_account.first_name + ' ' + course.users_account.last_name">
                            <ng-template pTemplate="header">
                                <img alt="Card" onerror="this.src='./assets/cover/null-cover.png'"
                                    [src]="course.image ? api_url + '/public/' + course.image : './assets/cover/null-cover.png'" />
                            </ng-template>
                            <div class="grid">
                                <div class="col-12" style="height: 100px;">
                                    {{ course.course_description | slice:0:50 }}{{ course.course_description.length > 50
                                    ?
                                    '...'
                                    :
                                    '' }}
                                </div>
                                <div class="col-12">
                                    <p-tag icon="pi pi-user" value="ฟรี" *ngIf="!course.course_visibility"></p-tag>
                                    <p-tag icon="pi pi-star-fill" value="มีค่าสมัคร" severity="danger"
                                        *ngIf="course.course_visibility"></p-tag>
                                </div>
                                <div class="col-12">
                                    <p-button label="เข้าคอร์ส" styleClass="p-button-info p-button-sm mr-1"
                                        *ngIf="course.course_reg[0].registration_status == 2"
                                        (onClick)="onOpenCourse(course)" icon="pi pi-sign-in"></p-button>

                                    <h3 *ngIf="course.course_reg[0].registration_status == 1"
                                        style="color: red;font-weight: bold;">
                                        กรุณาไปจ่ายตังค์!!!</h3>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </ng-container>
            </div>

            <div class="grid" *ngIf="isLoad">
                <div class="col-12 md:col-3" *ngFor="let course of [0]">
                    <p-card styleClass="h-full p-card-custom">
                        <p-skeleton width="100px" height="40px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="200px" height="20px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="100%" height="150px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="100%" height="80px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="200px" height="40px" styleClass="mb-1"></p-skeleton>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-12" *ngIf="page == 'in-course'">
        <div class="grid">
            <div class="col-12">
                <p-button label="ย้อนกลับ" styleClass="p-button-secondary p-button-sm" icon="pi pi-angle-left"
                    (click)="goPage('my-courses');menu_items_active = menu_items[0]"></p-button>
            </div>
            <div class="col-12">
                <p-card [header]="select_course.course_name"
                    [subheader]="!can_create ? 'ผู้สอน: ' + select_course.users_account.first_name + ' ' + select_course.users_account.last_name : ''">

                    <!-- Teacher -->
                    <div class="grid" *ngIf="can_create">
                        <div class="col-12">
                            <p-tabMenu [model]="menu_items" [activeItem]="menu_items_active"
                                (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[0]">
                            <div class="grid">
                                <div class="col-12 md:col-8">
                                    <div class="grid">
                                        <div class="col-12 md:col-12">
                                            <label>ชื่อคอร์ส</label>
                                            <input type="text" pInputText [(ngModel)]="select_course_info.course_name"
                                                name="input_course_name" #input_course_name="ngModel"
                                                placeholder="ชื่อคอร์ส..." class="p-inputtext-sm" />
                                        </div>
                                        <div class="col-12 md:col-12">
                                            <label>รายละเอียดคอร์ส</label>
                                            <textarea pInputTextarea [(ngModel)]="select_course_info.course_description"
                                                name="input_course_description" #input_course_description="ngModel"
                                                placeholder="รายละเอียดคอร์ส..." [rows]="5"
                                                class="p-inputtext-sm"></textarea>
                                        </div>
                                        <div class="col-12 md:col-12">
                                            <label>รูปแบบคอร์ส</label><br>
                                            ฟรี &nbsp;
                                            <p-inputSwitch [(ngModel)]="select_course_info.course_have_price"
                                                name="input_course_have_price" #input_course_have_price="ngModel">
                                            </p-inputSwitch> &nbsp;มีค่าเรียน
                                        </div>
                                        <div class="col-12 md:col-4" *ngIf="select_course_info.course_have_price">
                                            <label>ราคาคอร์ส</label>
                                            <p-inputNumber type="number" [(ngModel)]="select_course_info.course_price"
                                                name="input_course_price" styleClass="w-full" suffix=" บาท"
                                                #input_course_price="ngModel" placeholder="ราคาคอร์ส..."
                                                class="p-inputtext-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4" align="center">
                                    <div class="grid">
                                        <div class="col-12">
                                            <b>รูปภาพปก</b><br>
                                            <img onerror="this.src='./assets/cover/null-cover.png'"
                                                [src]="select_course_info.cover_image != null ? api_url + '/public/' + select_course_info.cover_image : './assets/cover/null-cover.png'"
                                                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
                                            <br>
                                            <button pButton type="button" label="เปลี่ยนรูปภาพปก" icon="pi pi-pencil"
                                                (click)="CoverImageEditSelect.click()"
                                                class="p-button-outlined p-button-sm p-button-rounded"></button>
                                            <input #CoverImageEditSelect hidden="true" type="file"
                                                accept=".heic,.jpeg,.jpg,.png,.gif"
                                                (change)="selectCoverImage($event,'edit')" />
                                        </div>
                                        <div class="col-12">
                                            <b>รูปภาพวิธีการชำระเงิน</b><br>
                                            <img onerror="this.src='./assets/cover/null-cover.png'"
                                                [src]="select_course_info.payment_image != null ? api_url + '/public/' + select_course_info.payment_image : './assets/cover/null-cover.png'"
                                                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
                                            <br>
                                            <button pButton type="button" label="เปลี่ยนรูปภาพวิธีการชำระเงิน"
                                                icon="pi pi-pencil" (click)="PaymentImageEditSelect.click()"
                                                class="p-button-outlined p-button-sm p-button-rounded"></button>
                                            <input #PaymentImageEditSelect hidden="true" type="file"
                                                accept=".heic,.jpeg,.jpg,.png,.gif"
                                                (change)="selectCoverImage($event,'payment_edit')" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" align="right">
                                <p-button label="บันทึก" styleClass="p-button-success p-button-rounded p-button-sm"
                                    icon="pi pi-save" (click)="editCourseSubmit()"></p-button>
                            </div>
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[1]">
                            <p-table [value]="select_course_info.register_user" [tableStyle]="{ 'min-width': '50rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>คำนำหน้า</th>
                                        <th>ชื่อ</th>
                                        <th>นามสกุล</th>
                                        <th>สถานะ</th>
                                        <th>หลักฐาน</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-reg let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ rowIndex + 1 }}</td>
                                        <td>{{ reg.users_account.prefix }}</td>
                                        <td>{{ reg.users_account.first_name }}</td>
                                        <td>{{ reg.users_account.last_name }}</td>
                                        <td>
                                            <b *ngIf="reg.registration_status == 0"
                                                style="color: red;">ยังลงทะเบียนไม่สำเร็จ</b>
                                            <b *ngIf="reg.registration_status == 1"
                                                style="color: orange;">รอการชำระเงิน</b>
                                            <b *ngIf="reg.registration_status == 2"
                                                style="color: green;">ลงทะเบียนสำเร็จ</b>
                                        </td>
                                        <td>
                                            <b style="color: red"
                                                *ngIf="reg.transfer_document == null">รออัปโหลดหลักฐานการชำระเงิน</b>
                                            <p-button label="ดูสลิป" *ngIf="reg.transfer_document != null"
                                                (onClick)="openReceiptDialog(reg.transfer_document)"
                                                styleClass="p-button-info p-button-sm p-button-rounded m-1"
                                                icon="pi pi-eye"></p-button>

                                            <p-button label="อนุมัติ"
                                                styleClass="p-button-success p-button-sm p-button-rounded m-1"
                                                (onClick)="onApproveRegisterCourse(reg.registration_id)"
                                                *ngIf="reg.registration_status == 1" icon="pi pi-check"></p-button>

                                            <p-button label="ปฏิเสธ"
                                                styleClass="p-button-danger p-button-sm p-button-rounded m-1"
                                                (onClick)="onRejectRegisterCourse(reg.registration_id)"
                                                *ngIf="reg.registration_status == 1" icon="pi pi-times"></p-button>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6" style="text-align: center;">
                                            ไม่พบข้อมูล
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[2]">
                            P3
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[3]">
                            P3
                        </div>
                    </div>

                    <!-- Student -->
                    <div class="grid" *ngIf="!can_create">
                        <div class="col-12 md:col-3" *ngFor="let tem of student_course_content">
                            <p-card styleClass="p-card-custom" (click)="onOpenLesson(tem)">
                                {{ tem.lesson_name }}
                                <i class="pi pi-angle-right" style="float: right;"></i>

                                <!-- <p-tag icon="pi pi-check" value="เรียนแล้ว" severity="success"
                                    *ngIf=" "></p-tag>
                                <p-tag icon="pi pi-times" value="ยังไม่เรียน" severity="danger"
                                    *ngIf=""></p-tag> -->


                            </p-card>


                        </div>

                        <!-- <div class="col-12">
                            <p-tabMenu [model]="menu_items"></p-tabMenu>
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[0]">
                            P1
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[1]">
                            P2
                        </div> -->
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>

<p-dialog header="สร้างคอร์ส" [(visible)]="create_course_dialog" [modal]="true"
    [style]="{ width: '80vw','min-width':'360.5px' }" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-6" align="center">
            <b>รูปภาพปก</b><br>
            <img [src]="create_course_dialog_data.cover_image != './assets/cover/null-cover.png' ? api_url + '/public/' + create_course_dialog_data.cover_image : './assets/cover/null-cover.png'"
                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
            <br>
            <button pButton type="button" label="เปลี่ยนรูปภาพปก" icon="pi pi-pencil" (click)="CoverImageSelect.click()"
                class="p-button-outlined p-button-sm p-button-rounded"></button>
            <input #CoverImageSelect hidden="true" type="file" accept=".heic,.jpeg,.jpg,.png,.gif"
                (change)="selectCoverImage($event,'create')" />
        </div>
        <div class="col-12 md:col-6" align="center">
            <b>วิธีการชำระเงิน</b><br>
            <img [src]="create_course_dialog_data.payment_image != './assets/cover/null-cover.png' ? api_url + '/public/' + create_course_dialog_data.payment_image : './assets/cover/null-cover.png'"
                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
            <br>
            <button pButton type="button" label="เปลี่ยนวิธีการชำระเงิน" icon="pi pi-pencil"
                (click)="PaymentImageSelect.click()" class="p-button-outlined p-button-sm p-button-rounded"></button>
            <input #PaymentImageSelect hidden="true" type="file" accept=".heic,.jpeg,.jpg,.png,.gif"
                (change)="selectCoverImage($event,'payment')" />
        </div>
        <div class="col-12 md:col-12">
            <label>ชื่อคอร์ส</label>
            <input type="text" pInputText [(ngModel)]="create_course_dialog_data.course_name" name="input_course_name"
                #input_course_name="ngModel" placeholder="ชื่อคอร์ส..." class="p-inputtext-sm" />
        </div>
        <div class="col-12 md:col-12">
            <label>รายละเอียดคอร์ส</label>
            <textarea pInputTextarea [(ngModel)]="create_course_dialog_data.course_description"
                name="input_course_description" #input_course_description="ngModel" placeholder="รายละเอียดคอร์ส..."
                [rows]="5" class="p-inputtext-sm"></textarea>
        </div>
        <div class="col-12 md:col-12">
            <label>รูปแบบคอร์ส</label><br>
            ฟรี &nbsp;
            <p-inputSwitch [(ngModel)]="create_course_dialog_data.course_have_price" name="input_course_have_price"
                #input_course_have_price="ngModel"></p-inputSwitch> &nbsp;มีค่าเรียน
        </div>
        <div class="col-12 md:col-4" *ngIf="create_course_dialog_data.course_have_price">
            <label>ราคาคอร์ส</label>
            <p-inputNumber type="number" [(ngModel)]="create_course_dialog_data.course_price" name="input_course_price"
                styleClass="w-full" suffix=" บาท" #input_course_price="ngModel" placeholder="ราคาคอร์ส..."
                class="p-inputtext-sm" />
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="ui-dialog-buttonpane p-clearfix">
            <button type="button" pButton icon="pi pi-times" label="ยกเลิก" (click)="create_course_dialog = false"
                class="p-button-danger p-button-rounded" style="margin-right: .25em"></button>
            <button type="button" pButton icon="pi pi-check" label="สร้างคอร์ส" (click)="createCourseSubmit()"
                class="p-button-success p-button-rounded" style="margin-right: .25em"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="ปรับแต่งรูปภาพ" [(visible)]="imageCropDialog" [modal]="true"
    [style]="{ width: '80vw','min-width':'360.5px' }" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-3">
            <p-card header="ตัวอย่าง">
                <img [src]="imageCropData_croppedImage" style="width: 100%" />
            </p-card>
        </div>
        <div class="col-12 md:col-9">
            <p-card header="ตัวปรับแต่ง">
                <image-cropper [imageChangedEvent]="imageCropData_imageChangedEvent" [maintainAspectRatio]="true"
                    [resizeToWidth]="1280" [resizeToHeight]="640" [aspectRatio]="2 / 1"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()" style="width: 100%;height: 400px;">
                </image-cropper>
            </p-card>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="grid">
            <div class="col-12" align="right">
                <p-button label="ยกเลิก" icon="pi pi-times" styleClass="p-button-sm p-button-danger mt-4"
                    (onClick)="imageCropDialog = false"></p-button>
                <p-button label="บันทึก" icon="pi pi-save" styleClass="p-button-sm p-button-success mt-4"
                    (onClick)="uploadCoverImage()"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="ดูสลิป" [(visible)]="view_receipt_dialog" [modal]="true"
    [style]="{ width: '40vw','min-width':'360.5px' }" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12">
            <p-image [src]="api_url + '/public/' + view_receipt_dialog_img" width="100%" appendTo="body"
                [preview]="true"></p-image>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="grid">
            <div class="col-12" align="right">
                <p-button label="ปิด" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mt-4"
                    (onClick)="view_receipt_dialog = false;view_receipt_dialog_img = null"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>