<div class="grid">
    <div class="col-12" *ngIf="page == 'my-courses'">
        <p-card header="คอร์สของฉัน">
            <div class="grid" *ngIf="!isLoad">
                <div class="col-12" align="right" *ngIf="can_create">
                    <p-button label="สร้างคอร์ส" styleClass="p-button-rounded p-button-success p-button-sm"
                        icon="pi pi-plus" (click)="createCourse()"></p-button>
                </div>

                <div class="col-12" align="center" *ngIf="courseList.length == 0">
                    {{ can_create ? 'ไม่พบคอร์สเรียนที่คุณสร้าง' : 'ไม่พบการสมัครคอร์สของคุณ' }}
                </div>

                <ng-container *ngIf="courseList.length > 0">
                    <div class="col-12 md:col-3" *ngFor="let course of courseList">
                        <!-- Teacher -->
                        <p-card *ngIf="can_create" styleClass="h-full course-custom" [header]="course.course_name">
                            <ng-template pTemplate="header">
                                <img alt="Card" onerror="this.src='./assets/cover/null-cover.png'"
                                    [src]="course.image ? api_url + '/public/' + course.image : './assets/cover/null-cover.png'" />
                            </ng-template>
                            <div class="grid">
                                <div class="col-12">
                                    {{ course.course_description | slice:0:50 }}{{ course.course_description.length > 50
                                    ?
                                    '...'
                                    :
                                    '' }}
                                </div>
                                <div class="col-12" align="center">
                                    <p-tag icon="pi pi-user" value="ฟรี" *ngIf="!course.course_visibility"></p-tag>
                                    <p-tag icon="pi pi-star-fill" value="มีค่าสมัคร" severity="danger"
                                        *ngIf="course.course_visibility"></p-tag>
                                </div>
                                <div class="col-12" *ngIf="course.course_visibility" align="center">
                                    <b>ค่าสมัคร: {{ course.cost | number : '1.2-2' }}
                                        บาท</b>
                                </div>
                                <div class="col-12" align="center">
                                    <p-button label="จัดการคอร์สเรียน" styleClass="p-button-secondary p-button-sm"
                                        [routerLink]="'/course/' + course.course_id" icon="pi pi-sign-in"></p-button>
                                </div>
                            </div>
                        </p-card>

                        <!-- Student -->
                        <p-card *ngIf="!can_create" styleClass="h-full course-custom" [header]="course.course_name"
                            [subheader]="'ผู้สอน: ' + course.users_account.first_name + ' ' + course.users_account.last_name">
                            <ng-template pTemplate="header">
                                <img alt="Card" onerror="this.src='./assets/cover/null-cover.png'"
                                    [src]="course.image ? api_url + '/public/' + course.image : './assets/cover/null-cover.png'" />
                            </ng-template>
                            <div class="grid">
                                <div class="col-12" style="height: 100px;">
                                    {{ course.course_description | slice:0:50 }}{{ course.course_description.length > 50
                                    ?
                                    '...'
                                    :
                                    '' }}
                                </div>
                                <div class="col-12" align="center">
                                    <p-tag icon="pi pi-user" value="ฟรี" *ngIf="!course.course_visibility"></p-tag>
                                    <p-tag icon="pi pi-star-fill" value="มีค่าสมัคร" severity="danger"
                                        *ngIf="course.course_visibility"></p-tag>
                                </div>
                                <div class="col-12" align="center">
                                    <p-button label="เข้าคอร์ส" styleClass="p-button-info p-button-sm mr-1"
                                        *ngIf="course.course_reg[0].registration_status == 2"
                                        (onClick)="onOpenCourse(course)" icon="pi pi-sign-in"></p-button>

                                    <h3 *ngIf="course.course_reg[0].registration_status == 1"
                                        style="color: red;font-weight: bold;">
                                        กรุณาตรวจสอบการชำระเงิน</h3>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </ng-container>
            </div>

            <div class="grid" *ngIf="isLoad">
                <div class="col-12 md:col-3" *ngFor="let course of [0]">
                    <p-card styleClass="h-full p-card-custom">
                        <p-skeleton width="100px" height="40px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="200px" height="20px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="100%" height="150px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="100%" height="80px" styleClass="mb-1"></p-skeleton>
                        <p-skeleton width="200px" height="40px" styleClass="mb-1"></p-skeleton>
                    </p-card>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-12" *ngIf="page == 'in-course'">
        <div class="grid">
            <div class="col-12">
                <p-button label="ย้อนกลับ" styleClass="p-button-secondary p-button-sm" icon="pi pi-angle-left"
                    (click)="goPage('my-courses');menu_items_active = menu_items[0]"></p-button>
            </div>

            <div class="col-12">
                <p-tabMenu [model]="menu_items" [activeItem]="menu_items_active"
                    (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
            </div>

            <div class="col-12">
                <p-card [header]="select_course.course_name"
                    [subheader]="'ผู้สอน: ' + select_course.users_account.first_name + ' ' + select_course.users_account.last_name">
                    <div class="grid">
                        <div class="col-12" *ngIf="menu_items_active == menu_items[0] && !isLoad_student_content">
                            <div class="grid" *ngIf="student_course_content.course_lesson.length > 0" align="left">
                                <div class="col-12 md:col-3"
                                    *ngFor="let lesson of student_course_content.course_lesson">
                                    <p-card styleClass="p-card-custom lesson-card-custom h-full"
                                        [style]="{cursor: 'pointer'}">
                                        <div class="flex justify-content-between align-content-center flex-wrap">
                                            <div style="max-width: 80%;">
                                                <b>{{ lesson.lesson_name }}</b><br>
                                                จำนวนบทเรียน: 0 บท
                                            </div>
                                            <i
                                                class="pi pi-chevron-right flex align-items-center justify-content-center"></i>
                                        </div>
                                    </p-card>
                                </div>
                            </div>

                            <label
                                *ngIf="student_course_content.course_lesson.length == 0">คุณยังไม่ได้เพิ่มเนื้อหาบทเรียน</label>
                        </div>

                        <div class="col-12" *ngIf="menu_items_active == menu_items[1] && !isLoad_student_content">
                            P2
                        </div>

                        <div class="col-12" *ngIf="isLoad_student_content">
                            <div class="grid">
                                <div class="col-12" align="center">
                                    <p-progressSpinner styleClass="p-progress-info" strokeWidth="8" fill="#ffffff"
                                        animationDuration=".5s"
                                        [style]="{ 'width': '50px', 'height': '50px' }"></p-progressSpinner>
                                </div>
                                <div class="col-12" align="center">
                                    กำลังโหลด...
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>

<p-dialog header="สร้างคอร์ส" [(visible)]="create_course_dialog" [modal]="true"
    [style]="{ width: '80vw','min-width':'360.5px' }" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 md:col-6" align="center">
            <b>รูปภาพปก</b><br>
            <img [src]="create_course_dialog_data.cover_image != './assets/cover/null-cover.png' ? api_url + '/public/' + create_course_dialog_data.cover_image : './assets/cover/null-cover.png'"
                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
            <br>
            <button pButton type="button" label="เปลี่ยนรูปภาพปก" icon="pi pi-pencil" (click)="CoverImageSelect.click()"
                class="p-button-outlined p-button-sm p-button-rounded"></button>
            <input #CoverImageSelect hidden="true" type="file" accept=".heic,.jpeg,.jpg,.png,.gif"
                (change)="selectCoverImage($event,'create')" />
        </div>
        <div class="col-12 md:col-6" align="center">
            <b>วิธีการชำระเงิน</b><br>
            <img [src]="create_course_dialog_data.payment_image != './assets/cover/null-cover.png' ? api_url + '/public/' + create_course_dialog_data.payment_image : './assets/cover/null-cover.png'"
                alt="Cover Image" style="width: 100%; height: auto;max-width: 360px;">
            <br>
            <button pButton type="button" label="เปลี่ยนวิธีการชำระเงิน" icon="pi pi-pencil"
                (click)="PaymentImageSelect.click()" class="p-button-outlined p-button-sm p-button-rounded"></button>
            <input #PaymentImageSelect hidden="true" type="file" accept=".heic,.jpeg,.jpg,.png,.gif"
                (change)="selectCoverImage($event,'payment')" />
        </div>
        <div class="col-12 md:col-12">
            <label>ชื่อคอร์ส</label>
            <input type="text" pInputText [(ngModel)]="create_course_dialog_data.course_name" name="input_course_name"
                #input_course_name="ngModel" placeholder="ชื่อคอร์ส..." class="p-inputtext-sm" />
        </div>
        <div class="col-12 md:col-12">
            <label>รายละเอียดคอร์ส</label>
            <textarea pInputTextarea [(ngModel)]="create_course_dialog_data.course_description"
                name="input_course_description" #input_course_description="ngModel" placeholder="รายละเอียดคอร์ส..."
                [rows]="5" class="p-inputtext-sm"></textarea>
        </div>
        <div class="col-12 md:col-12">
            <label>รูปแบบคอร์ส</label><br>
            ฟรี &nbsp;
            <p-inputSwitch [(ngModel)]="create_course_dialog_data.course_have_price" name="input_course_have_price"
                #input_course_have_price="ngModel"></p-inputSwitch> &nbsp;มีค่าเรียน
        </div>
        <div class="col-12 md:col-4" *ngIf="create_course_dialog_data.course_have_price">
            <label>ราคาคอร์ส</label>
            <p-inputNumber type="number" [(ngModel)]="create_course_dialog_data.course_price" name="input_course_price"
                styleClass="w-full" suffix=" บาท" #input_course_price="ngModel" placeholder="ราคาคอร์ส..."
                class="p-inputtext-sm" />
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="ui-dialog-buttonpane p-clearfix">
            <button type="button" pButton icon="pi pi-times" label="ยกเลิก" (click)="create_course_dialog = false"
                class="p-button-danger p-button-rounded" style="margin-right: .25em"></button>
            <button type="button" pButton icon="pi pi-check" label="สร้างคอร์ส" (click)="createCourseSubmit()"
                class="p-button-success p-button-rounded" style="margin-right: .25em"></button>
        </div>
    </ng-template>
</p-dialog>