<div class="grid" *ngIf="!isLoad">
    <div class="col-12 md:col-3" *ngFor="let course of courseList">
        <p-card styleClass="h-full" [header]="course.course_name">
        </p-card>
    </div>
</div>

<div class="grid" *ngIf="isLoad">
    <div class="col-12 md:col-3" *ngFor="let course of [0,1,2,3]">
        <p-card styleClass="h-full p-card-custom">
            <p-skeleton width="100px" height="40px" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="100%" height="150px" styleClass="mb-1"></p-skeleton>
            <p-skeleton width="100%" height="80px" styleClass="mb-1"></p-skeleton>
        </p-card>
    </div>
</div>