<div class="grid flex align-content-center flex-wrap" style="justify-content: center;min-height: calc(100vh - 200px);">
  <div class="col-12 md:col-3" style="min-width: 365.5px;">
    <p-card styleClass="p-card-custom">
      <div class="grid">
        <div class="col-12">
          <h2>
            <i class="pi pi-sign-in mr-2" style="font-size: 20pt;"></i> เข้าสู่ระบบ<br>
            <label style="font-size: 10pt;">Login</label>
          </h2>
        </div>
        <div class="col-12">
          <label>ชื่อผู้ใช้งาน</label>
          <input type="text" pInputText [(ngModel)]="login_form.username" name="input_username"
            #input_username="ngModel" placeholder="Username..." class="p-inputtext-sm" />
        </div>
        <div class="col-12">
          <label>รหัสผ่าน</label>
          <p-password [(ngModel)]="login_form.password" name="input_password" #input_password="ngModel"
            placeholder="รหัสผ่าน" styleClass="w-full p-inputtext-sm" [feedback]="false"
            [toggleMask]="true"></p-password>
        </div>

        <div class="col-12">
          <b>ลืมรหัสผ่าน ?</b>
        </div>
        <div class="col-12" align="center">
          <p-button label="เข้าสู่ระบบ" styleClass="p-button-rounded p-button-success p-button-sm" icon="pi pi-sign-in"
            (click)="loginSubmit()"></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
